body {
    background-color: black;
    color: white;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

a.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 1000;
}

.inputBoxes {
    height: 60px;
    width: 60px;
    
}

.addedLetters{
    background-color: lightgray;
    color: black
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    padding: 5px 50px;
    
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newGame {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: white;

}

.hint {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.about {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: white;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
}
.inputBoxes{
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
    border: 2px solid rgba(189, 195, 199, 0.35);
    
}

.correctLetter {
    background-color: green;

}





#keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

#keyboard button{
    height: 35px;
    width: 55px;
    border-radius: 5px;
    padding-top: 5px;
    background-color: grey;
    color: white;
    text-align: center;
}

.keyboardRow {
    padding-top: 5px;
}

hr {
    opacity: .2;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  } */