body {
    background-color: black;
    color: white;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    color: white;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }